<svg name="chart" width="900" height="510" 
    version="1.1" xmlns="http://www.w3.org/2000/svg">
  <rect width="100%" height="100%" stroke="black" stroke-width="3" fill="transparent" />

  <svg name="chart_field" width="92%" height="86%" x="7%" y="2%" 
      version="1.1" xmlns="http://www.w3.org/2000/svg">  
    {{#each points as |point|}}
      <g>
        <title>{{point.country}}<br>{{point.population}} people<br>${{point.gdp}} income/capita<br>{{point.life}} years expected</title>
        <circle
          cx={{scale point.gdp minValue=142 maxValue=182668 scale="log" }}
          cy={{scale point.life minValue=10 maxValue=90 invert=true}}
          r={{scale point.population minValue=2000 maxValue="1380000000" scaleCircleArea=80 minCircleArea=6}}
          fill="lightgreen"
          stroke="black" stroke-width="0.5"
        />
      </g>
    {{/each}}
    <line x1="10%" x2="10%" y1="0%" y2="100%" stroke="grey" stroke-width="1" stroke-dasharray="5, 5"/>
    <line x1="20%" x2="20%" y1="0%" y2="100%" stroke="grey" stroke-width="1" stroke-dasharray="5, 5"/>
    <line x1="30%" x2="30%" y1="0%" y2="100%" stroke="grey" stroke-width="1" stroke-dasharray="5, 5"/>
    <line x1="40%" x2="40%" y1="0%" y2="100%" stroke="grey" stroke-width="1" stroke-dasharray="5, 5"/>
    <line x1="50%" x2="50%" y1="0%" y2="100%" stroke="grey" stroke-width="1" stroke-dasharray="5, 5"/>
    <line x1="60%" x2="60%" y1="0%" y2="100%" stroke="grey" stroke-width="1" stroke-dasharray="5, 5"/>
    <line x1="70%" x2="70%" y1="0%" y2="100%" stroke="grey" stroke-width="1" stroke-dasharray="5, 5"/>
    <line x1="80%" x2="80%" y1="0%" y2="100%" stroke="grey" stroke-width="1" stroke-dasharray="5, 5"/>
    <line x1="90%" x2="90%" y1="0%" y2="100%" stroke="grey" stroke-width="1" stroke-dasharray="5, 5"/>
    <line x1="100%" x2="100%" y1="0%" y2="100%" stroke="grey" stroke-width="1" stroke-dasharray="5, 5"/>
  </svg>

{{chart-axis model=model tickCount='10' key='gdp'}}

{{!-- <text x="45%" y="90%" font-family="Verdana" font-size="16">Income</text> --}}

{{!-- <text x="-90%" y="4%" font-family="Verdana" font-size="16" transform="rotate(270 87 88)">
    Life expectancy
  </text> --}}

  
  
</svg>

<br>
<table class='chart-controls-table'><tbody>
  <tr><td width='16.67%'></td><td width='16.67%'></td>
    <td width='33.34%'>
      <button onclick={{perform play}}>
        Play
      </button>
      <button onclick={{action 'pause'}}>
        Pause
      </button></td><td width='16.67%'></td><td width='16.67%'></td></tr>
  <tr><td colspan='6'>
    <b>{{currentYear}}</b></td></tr>
  <tr><td colspan='6'>
    {{input type='range' class='year-slider' min='1950' max='2015' value=currentYear}} </td>
  </tr>
  <tr><td colspan='6'>
      <button onclick={{perform playLoop}}>
        Loop
      </button>&nbsp;&nbsp;&nbsp;
      start {{input type='number' min='1950' max='2015' value=startingYear}}&nbsp;
      end {{input type='number' min='1950' max='2015' value=endingYear}}</td>
  </tr>
</tbody></table>

---<br>
<br>
---